<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Doxygen generation of EFL library.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>mkdir -p $WORKSPACE/build
cd $WORKSPACE/build

$HUDSON_HOME/jobs/efl/workspace/efl/configure --prefix=$HUDSON_HOME/jobs/install --enable-doc

# Too long... execute doxygen manually
# make doc
cd doc
doxygen
cp -r $HUDSON_HOME/jobs/efl/workspace/efl/doc/img/* html/

sed &quot;s|^OUTPUT_DIRECTORY.*|OUTPUT_DIRECTORY = $PWD|&quot; Doxyfile &gt; $WORKSPACE/Doxyfile_for_jenkins
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.warnings.WarningsPublisher plugin="warnings@4.21">
      <healthy></healthy>
      <unHealthy></unHealthy>
      <thresholdLimit>low</thresholdLimit>
      <pluginName>[WARNINGS] </pluginName>
      <defaultEncoding></defaultEncoding>
      <canRunOnFailed>false</canRunOnFailed>
      <useStableBuildAsReference>false</useStableBuildAsReference>
      <useDeltaValues>false</useDeltaValues>
      <thresholds plugin="analysis-core@1.48">
        <unstableTotalAll>0</unstableTotalAll>
        <unstableTotalHigh></unstableTotalHigh>
        <unstableTotalNormal></unstableTotalNormal>
        <unstableTotalLow></unstableTotalLow>
        <unstableNewAll></unstableNewAll>
        <unstableNewHigh></unstableNewHigh>
        <unstableNewNormal></unstableNewNormal>
        <unstableNewLow></unstableNewLow>
        <failedTotalAll></failedTotalAll>
        <failedTotalHigh>0</failedTotalHigh>
        <failedTotalNormal></failedTotalNormal>
        <failedTotalLow></failedTotalLow>
        <failedNewAll></failedNewAll>
        <failedNewHigh></failedNewHigh>
        <failedNewNormal></failedNewNormal>
        <failedNewLow></failedNewLow>
      </thresholds>
      <shouldDetectModules>false</shouldDetectModules>
      <dontComputeNew>false</dontComputeNew>
      <doNotResolveRelativePaths>false</doNotResolveRelativePaths>
      <parserConfigurations/>
      <consoleParsers>
        <hudson.plugins.warnings.ConsoleParser>
          <parserName>Doxygen</parserName>
        </hudson.plugins.warnings.ConsoleParser>
      </consoleParsers>
    </hudson.plugins.warnings.WarningsPublisher>
    <hudson.plugins.doxygen.DoxygenArchiver plugin="doxygen@0.11">
      <doxyfilePath>Doxyfile_for_jenkins</doxyfilePath>
      <keepAll>false</keepAll>
      <folderWhereYouRunDoxygen></folderWhereYouRunDoxygen>
    </hudson.plugins.doxygen.DoxygenArchiver>
  </publishers>
  <buildWrappers/>
</project>