<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&quot;make check&quot; of Eet library.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -rf build
mkdir -p build
cd build
export CFLAGS=&quot;-Wall -Wextra&quot;
export CXXFLAGS=&quot;$CFLAGS&quot;
$HUDSON_HOME/jobs/eet/workspace/eet/configure --prefix=$HUDSON_HOME/jobs/install --enable-tests
make 2&gt;$WORKSPACE/make.log
for f in $HUDSON_HOME/jobs/eet/workspace/eet/src/tests/*.pem; do ln -s $f src/tests/;done
make check || true
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.warnings.WarningsPublisher>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <thresholdLimit>low</thresholdLimit>
      <pluginName>[WARNINGS] </pluginName>
      <defaultEncoding></defaultEncoding>
      <canRunOnFailed>false</canRunOnFailed>
      <useDeltaValues>false</useDeltaValues>
      <thresholds>
        <unstableTotalAll></unstableTotalAll>
        <unstableTotalHigh></unstableTotalHigh>
        <unstableTotalNormal></unstableTotalNormal>
        <unstableTotalLow></unstableTotalLow>
        <unstableNewAll></unstableNewAll>
        <unstableNewHigh></unstableNewHigh>
        <unstableNewNormal></unstableNewNormal>
        <unstableNewLow></unstableNewLow>
        <failedTotalAll></failedTotalAll>
        <failedTotalHigh></failedTotalHigh>
        <failedTotalNormal></failedTotalNormal>
        <failedTotalLow></failedTotalLow>
        <failedNewAll></failedNewAll>
        <failedNewHigh></failedNewHigh>
        <failedNewNormal></failedNewNormal>
        <failedNewLow></failedNewLow>
      </thresholds>
      <pattern></pattern>
      <parserNames>
        <string>GNU compiler (gcc)</string>
      </parserNames>
      <ignoreConsole>false</ignoreConsole>
    </hudson.plugins.warnings.WarningsPublisher>
  </publishers>
  <buildWrappers/>
</project>