<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Compilation of a library from the EFL: configure, make, make install&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>if [[ -z &quot;$EFL_LIB&quot; ]]
then
  echo &quot;Do not launch this job directly, use generic_make instead&quot;
  exit 1
fi

mkdir -p $WORKSPACE/$EFL_LIB/build
cd $WORKSPACE/$EFL_LIB/build
export CFLAGS=&quot;-Wall -Wextra&quot;
export CXXFLAGS=&quot;$CFLAGS&quot;
$HUDSON_HOME/jobs/generic_prepare/workspace/$EFL_LIB/configure --prefix=$HUDSON_HOME/jobs/install
make
make install</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.warnings.WarningsPublisher plugin="warnings@3.14">
      <healthy></healthy>
      <unHealthy></unHealthy>
      <thresholdLimit>low</thresholdLimit>
      <pluginName>[WARNINGS] </pluginName>
      <defaultEncoding></defaultEncoding>
      <canRunOnFailed>false</canRunOnFailed>
      <useDeltaValues>false</useDeltaValues>
      <thresholds plugin="analysis-core@1.17">
        <unstableTotalAll>0</unstableTotalAll>
        <unstableTotalHigh></unstableTotalHigh>
        <unstableTotalNormal></unstableTotalNormal>
        <unstableTotalLow></unstableTotalLow>
        <unstableNewAll></unstableNewAll>
        <unstableNewHigh></unstableNewHigh>
        <unstableNewNormal></unstableNewNormal>
        <unstableNewLow></unstableNewLow>
        <failedTotalAll></failedTotalAll>
        <failedTotalHigh>0</failedTotalHigh>
        <failedTotalNormal></failedTotalNormal>
        <failedTotalLow></failedTotalLow>
        <failedNewAll></failedNewAll>
        <failedNewHigh></failedNewHigh>
        <failedNewNormal></failedNewNormal>
        <failedNewLow></failedNewLow>
      </thresholds>
      <pattern></pattern>
      <parserNames>
        <string>GNU compiler 4 (gcc)</string>
      </parserNames>
      <ignoreConsole>false</ignoreConsole>
    </hudson.plugins.warnings.WarningsPublisher>
  </publishers>
  <buildWrappers/>
</project>